/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: sans-serif;
  padding: 2rem;
  font-size: 16px;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display:block;
}

section code span.single-indent{
  padding-left:1.5em;
}

a{
  color: #F7BEBE;
  text-decoration: none;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  font-family: 'Abel', sans-serif;
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFFFFF;
  background-color: #F7BEBE;
  border-radius: 1.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

@media (max-width: 65rem){
  .button-nav{
    padding:0.5em 0.5em;
  }
}

@media (max-width: 40rem){
  .button-nav{
    font-family: 'Abel', sans-serif;
  }
}

.button-nav:hover, .button-nav:focus {
  background-color: #A8D1C2;
}


.in-text-link:hover{
  color: #A8D1C2;
}

/* button submit and reset*/
.button-submit{
font-family: 'Abel';
display: inline-block;
background-color: #F7BEBE;
color: #FFFFFF;
padding: 0.5em 4em;
text-decoration: none;
font-size: 1.45rem;
border-radius: 0.25em;
}

.button-reset{
  font-family: 'Abel';
  display: inline-block;
  background-color: #F7BEBE;
  color: #FFFFFF;
  padding:0.5em 2em;
  text-decoration: none;
  font-size: 1.45rem;
  border-radius: 0.25em;
}


.input-field label {
    font-family: 'Abel', sans-serif;
    font-size: 1.25rem;
    margin-right: 0.75em;
}

.input-field input {
    font-size: 1.25rem;
    width: 15em;
    height: 1em;
    padding: 0.5em 0.5em;
}

#title-subheading {
    font-family: 'Abel', sans-serif;
    font-size: 1.9rem;
    margin-top: 0;
    padding-top: 0;
}







/* 
  COMBINED ELEMENTS -------------------
*/


#centered-nav-container {
    padding-left: 12%;
    padding-right: 12%;
    background-color: #F7BEBE;
}

@media (max-width: 80rem) {
    #centered-nav-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 50rem) {
    #centered-nav-container {
        padding-left: 0;
        padding-right: 0;
    }
}

#lower-nav-bar {
    clear: both;
    background-color: #F7BEBE;
    max-width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

#lower-nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#lower-nav-bar-left ul li {
    float: left;
}

#lower-nav-bar-right {
    float: right;
 }

 @media (max-width: 35rem) {
    #lower-nav-bar-right {
        clear: both;
        float: left;
    }
}

#lower-nav-bar-right ul li {
    float: left;
}

















